.loader
 .loader-text
  | Loading...
 span.loader-bracket [
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-increment  
 span.loader-bracket ]
 span.loader-percent 100.0%