html {
  animation: glow 1800ms ease-out infinite alternate;
  opacity: .9;
}

body {
  background: black;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: 0;
  border: 1px solid white;
  animation: anim 9s infinite linear;
  opacity: .9
}

@keyframes anim {
  0% {
    opacity: 0.0;
    width: 0vmin;
    height: 0vmin;
  }
  10% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.0;
    width: 100vmin;
    height: 100vmin;
  }
}

div:nth-child(1) {
  animation-delay: 200ms;
}

div:nth-child(2) {
  animation-delay: 300ms;
}

div:nth-child(3) {
  animation-delay: 400ms;
}

div:nth-child(4) {
  animation-delay: 600ms;
}

div:nth-child(5) {
  animation-delay: 7000ms;
}

div:nth-child(6) {
  animation-delay: 800ms;
}

div:nth-child(7) {
  animation-delay: 1000ms;
}

div:nth-child(8) {
  animation-delay: 1100ms;
}

div:nth-child(9) {
  animation-delay: 1200ms;
}

div:nth-child(10) {
  animation-delay: 2300ms;
}

@keyframes glow {
  0% {
    background-color: #000;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .4), 0 2px 0 #000;
  }
  100% {
    background-color: #330303;
    box-shadow: 0 0 2px rgba(0, 255, 0, .4), inset 0 0 10px rgba(0, 255, 0, .1), 0 2px 0 #000;
  }
}