#real-loader {
  position: absolute;
  bottom: 10px;
  width: 100%;
  line-height: 20px;
  text-align: center;
  color: rgba(255,255,255,0.5);
}
#real-loader a,
#real-loader a:visited {
  color: rgba(255,255,255,0.8);
}
html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #181818;
}
#shell {
  position: absolute;
  top: 50%;
  left: 50%;
}
#shell #bg {
  transition: all 0.15s ease-in-out;
  transition: all 0.15s easeout;
  width: 100px;
  margin-left: -50px;
  height: 10px;
  background: rgba(0,0,0,0.5);
  position: relative;
}
#shell #bg #bar {
  transition: all 0.15s ease-in-out;
  transition: all 0.15s easeout;
  position: absolute;
  top: 2px;
  left: 2px;
  background: rgba(255,255,255,0.5);
  height: 6px;
  width: 0px;
  line-height: 196px;
  text-align: center;
  font-size: 30px;
  color: rgba(0,0,0,0.5);
}
